body {
  font-family: 'Roboto', sans-serif;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF; 
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); 
  border-radius: 10px; 
}

.header h1 {
  color: #FFF;
}

.profile-pic {
  max-width: 100%; 
  height: auto;
  border-radius: 50%; 
  margin-top: 20px;
  border: 5px solid #fff; 
}

.hobbies-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.hobbies-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hobbies-list img {
  margin-right: 10px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none; 
  color: #FFF; 
}

.contact-link img {
  width: 30px;
  margin-right: 10px;
}
.hobbies-list img {
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-right: 10px;
}


p a {
  color: #FFD700; 
}
